*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 600;    
}

.intro{
    margin: 30px ;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
}

.datos-contacto{
    grid-area: contacto;
    padding: 10px;
    border-radius: 20px;
    align-self: flex-start;    
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	margin: 30px;
}

.datos-contacto h3{
    text-align: center;
    margin-top: 50px;
}

.datos-contacto ul  {
    list-style-type: none;
    text-align: center;
    
}

.form-contacto{
    grid-area: form-contacto;
	max-width: 800px;
	width: 90%;
	padding: 40px;
    margin: 30px ;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
   
}

.mapa{
grid-area: mapa;

}


.mapa iframe{
    width:800px;
    height:300px;
    margin: 10px 0px 60px;
    border: solid 4px #15616D;
    padding: 10px;
    border-radius: 20px;

}


.datos-contacto ul li a, .mail{
    text-decoration: none;
    color: #78290F;
}

/*--------------------------------------------------*/
/*Estilo para formulario contacto*/ 
/*--------------------------------------------------*/

.container-form {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;

}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}



.formulario__grupo-input {
	position: relative;
	
}

#consulta{
    width: 100%;
    height: 100px;
}

.formulario__input {
	width: 100%;
	background:white;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 20px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #15616D;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

#grupo__terminos,
#grupo__consulta, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
	margin-bottom: 10px;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
	font-size: 90%;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background:#15616D;
	color: #FFECD1;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__select {
	/* border: 3px solid #bb2929 ; */
	width: 100%;
	background:white;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 20px 0 10px;
	transition: .3s ease all;
}

.caracteres {
	font-weight: 300;
	font-size: 12px;
	padding: 0 20px 0 10px;
	color: transparent;
}

.caracteres-activado {
	color: #555;
	transition: .1s ease all;

}
/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color:#119200;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color:#bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/*--------------------------------------------------*/
/*Estilo de la grilla para pantallas grandes*/
/*--------------------------------------------------*/
.contenedor-contacto{
    display: grid;
    place-items: center;
	margin: 0 auto;
	max-width: 1200px;
    grid-template: auto auto / 0.75fr 1fr;
    grid-template-areas: "contacto form-contacto" 
                         "mapa mapa";
                       
   
}

@media(max-width: 548px) { 
	.formulario__mensaje p{
		font-size: 80%;
	}

} 

@media  (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	#grupo__terminos, 
	#grupo__consulta,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

@media (max-width: 950px) { 	
    .contenedor-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
		
    }

    .mapa iframe{
        width:80vw;
        height:250px;
    }
}


@media (max-width:1056px){
	.form-contacto, .datos-contacto{
		padding:10px ;
	}


}






